body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.overlay-container {
	position: relative;
	background-color: rgba(192, 192, 192, 0.6);
	backdrop-filter: blur(5px);
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: fit-content;
	padding: 10px;
}

.map-overlay {
	display: flex;
	flex-wrap: nowrap;
}

.map-overlay button {
	position: relative;
	left: 10px;
	background-color: #edeaea;
	border: 1px solid #ccc;
	color: #555;
	padding: 0.2em 0.9em;
	margin-right: 4px;
	margin-bottom: 4px;
	text-align: left;
	font-size: 0.8em;
	border-radius: 4px;
	display: flex;
	align-items: center;
	cursor: pointer;
	max-width: 200px;
}

.map-overlay button:hover {
	border-color: #aaa;
}

.map-overlay button.active {
	background-color: #4CAF50;
	border-color: #4CAF50;
	color: white;
}

.map-overlay i {
	font-style: normal;
	padding-right: 8px;
}

.content-wrapper {
	top: 20px;
	position: relative;
	width: calc(100% - 20px);
	padding: 10px;
	box-sizing: border-box;
	z-index: 2;
}

.slider-content-wrapper {
	left: 10px;
	display: inherit;
}

.e-range {
	background-color: transparent !important;
}

@media (max-width: 768px) {
	.overlay-container {
		justify-content: flex-start;
	}
}